@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
}

/* Fourth Page */
.pasta2 {
  position: absolute;
  margin-right: 10rem;
  width: 50rem;
  left: 10rem;
}

.info1 {
  position: relative;
  width: 60rem;
  margin-bottom: 12rem;
}

.style1 {
  font-family: "Open Sans" sans-serif;
  font-weight: 700;
  font-size: 70px;
  letter-spacing: 1;
  margin-left: 6rem;
  margin-top: 10rem;
}

.par1 {
  color: #282828;
  font-size: 35px;
  width: 38rem;
  line-height: 1.2;
  margin-top: 3rem;
  margin-bottom: 4rem;
  position: relative;
  margin-left: 6rem;
}

.button1 {
  background: #000000;
  color: #fff;
  padding: 12px 86px;
  border-radius: 40px;
  position: relative;
  text-decoration: none;
  outline-style: solid;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 6rem;
}

/* Fifth Page */
.pastas {
  margin-top: 10rem;
}

.pasta3 {
  position: absolute;
  width: 50rem;
  top: -8rem;
  left: 50rem;
}

.info2 {
  position: relative;
  width: 60rem;
  left: 10rem;
  margin-bottom: 38rem;
}

.style2 {
  font-family: "Open Sans" sans-serif;
  font-weight: 700;
  font-size: 70px;
  letter-spacing: 1;
  position: relative;
}

.par2 {
  color: #282828;
  font-size: 35px;
  width: 38rem;
  line-height: 1.2;
  margin-top: 3rem;
  margin-bottom: 4rem;
  position: absolute;
}

.button {
  background: #000000;
  color: #fff;
  padding: 12px 86px;
  border-radius: 40px;
  position: absolute;
  text-decoration: none;
  outline-style: solid;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
  top: 28rem;
}

/* Sixth Page */

.otherpage {
  background: url(./images/Header\ Background.png);
  background-position: center;
  background-size: cover;
  height: 129vh;
  background-repeat: no-repeat;
  position: relative;
}

.leaf2 {
  position: absolute;
  width: 120rem;
  top: -10rem;
}

.title {
  font-family: "Allura", cursive;
  color: #fff;
  font-size: 110px;
  display: flex;
  position: relative;
  padding-top: 3rem;
  justify-content: center;
  padding-top: 8rem;
}

.par3 {
  display: flex;
  color: #fff;
  font-size: 25px;
  width: 56rem;
  margin: auto;
}

.pizzas {
  position: relative;
  padding-top: 10rem;
}

.pizza {
  position: absolute;
  width: 76rem;
  top: 5rem;
  left: 25rem;
}

/* Seventh Page */
.thirdpage {
  margin-top: 17rem;
}

.third {
  font-family: "Allura", cursive;
  font-weight: bold;
  font-size: 60px;
}

.par4 {
  font-size: 22px;
  margin-left: 1rem;
  margin-bottom: 15rem;
}

.par5 {
  width: 900px;
  font-size: 30px;
  margin: auto;
}

.par6 {
  margin-top: 3rem;
  margin-bottom: 10rem;
  font-weight: bolder;
  font-size: 23px;
}

/* Email */
.container2 {
  background: #000000;
  position: relative;
}

.title2 {
  color: #fff;
}

.par7 {
  color: #fff;
}

.box {
  position: absolute;
  margin: auto;
}

input {
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
  transition: 0.5s;
}

input[type="text"] {
  width: 550px;
  height: 50px;
  bottom: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
}
input[type="submit"] {
  position: relative;
  border-radius: 25px;
  width: 180px;
  height: 50px;
  bottom: none;
  outline: none;
  padding: 0 25px;
}

.leaf3 {
  position: absolute;
  display: flex;
  top: 255rem;
}

.secondlast {
  background: #000000;
  padding: 5rem;
  justify-content: space-around;
  align-items: center;
}

.title3 {
  color: #fff;
  font-size: 60px;
  margin-top: 10rem;
  margin-bottom: 3rem;
}
.subtitle3 {
  color: #fff;
  font-size: 20px;
  width: 1200px;
  padding-left: 35rem;
  margin-bottom: 5rem;
}

.search-box {
  display: flex;
  padding-left: 30rem;
  margin-bottom: 10rem;
}

.search-box input[type="text"] {
  border: none;
  outline: none;
  letter-spacing: 5px;
  height: 66px;
  width: 500px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 50px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  position: relative;
}

#search {
  border: none;
  outline: none;
  padding: 19px 80px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 5px;
  background-color: rgb(58, 61, 58);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  cursor: pointer;
}

/* Footer */
.footer {
  margin-top: 8rem;
  margin-bottom: 10rem;
}

.Pfooter {
  margin-right: 8rem;
}
